@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #18181b;
    color: #bae6fd;
    font-family: "Oxygen", system-ui, sans-serif;
  }
}
